._cart {
    position: fixed;
    width: 1000px;
    min-height: 500px;
    background-color: #fff;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
    border: 3px solid #ccc;
    border-radius: 15px;
    display: none;
}
._cart .header {
    position: relative;
    margin: 30px 0;
}
._cart .header h1 {
    display: inline-block;
    text-transform: uppercase;
    position: relative;
    font-size: 20px;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 2px solid #f08233;
}
._cart .header .btn-close {
    font-size: 60px;
    position: absolute;
    top: -30px;
    right: 10px;
    color: #ccc;
    cursor: pointer;
}
._cart .header .btn-close:hover {
    font-weight: bold;
    color: #000;
}
._cart table {
    width: 80%;
    margin: auto;
}
._cart table tr th, ._cart table tr td {
    text-align: center;
}
._cart table tr th {
    padding-bottom: 10px;
}
._cart table tr th:nth-child(1) {
    text-align: left;
    padding-left: 50px;
}
._cart table tr td {
    border-bottom: 1px solid #ccc;
}
._cart table td span.name {
    margin-left: 5px;
}
._cart table td span.quantity {
    min-width: 20px;
    display: inline-block;
    text-align: center;
}
._cart table td .icon {
    display: inline-block;
    width: 15px;
    height: 14px;
}
.flex {
    display: flex;
    align-items: center;
}
.w-5 {
    width: 5%;
}
.w-10 {
    width: 10%;
}
.w-20 {
    width: 20%;
}
.w-35 {
    width: 35%;
}
._cart .btn-remove {
    font-size: 24px;
    cursor: pointer;
}
._cart .btn-remove:hover {
    font-weight: bold;
}
._cart .footer {
    width: 40%;
    margin: 40px auto;
    text-align: center;
}
._cart .footer .total-cart {
    font-weight: bold;
}
._cart .footer .total-cart label {
    text-transform: uppercase;
}
._cart .footer button.checkout {
    margin-top: 25px;
    background-color: #f08233;
    color: #fff;
    padding: 10px 35px;
    border-radius: 25px;
    font-size: 18px;
    outline: 0;
    border: 0;
    cursor: pointer;
    text-transform: uppercase;
}
._cart .footer .view-history {
    margin-top: 15px;
}
._cart .footer .view-history h4 {
    margin-bottom: 5px;
    font-weight: normal;
}
._cart .footer .view-history a {
    margin-top: 5px;
    color: #f08233;
}
