._footer {
    background: #273238;
    min-height: 200px;
    font-size: 14px;
    color: #fff;
    padding: 20px 40px;
}
._footer .label {
    display: inline-block;
    font-weight: bold;
    margin-bottom: 10px;
}
._footer ._container {
    margin-top: 15px;
    padding: 10px 0;
}
._footer .info, ._footer .thanks, ._footer .contact {
    float: left;
    width: 33%;
}
._footer .contact, ._footer .info {
    margin-top: 40px;
}
._footer .thanks {
    text-align: center;
}
._footer .info .open {
    margin-bottom: 20px;
}
._footer .info .item {
    padding: 3px 0;
    display: flex;
}
._footer .info .item span:first-child {
    width: 35%;
    min-width: 105px;
}
._footer .thanks .logo-orange {
    background-image: url('../images/design/logo-orange.png');
    background-size: cover;
    background-position: center;
    display: inline-block;
    width: calc(100px * 1892/1034);
    height: 100px;
    margin: auto;
}
._footer .thanks>p {
    font-size: 20px;
    margin-top: 10px;
    font-weight: 600;
}
._footer form {
    position: relative;
    margin: 10px 0;
}
._footer input, ._footer button {
    font-size: 15px;
    border-radius: 25px;
    border: 0;
    outline: 0;
    padding: 10px 15px;
}
._footer input {
    width: 100%;
}
._footer button {
    background-color: #f08233;
    color: #fff;
    width: 50%;
    min-width: 106px;
    position: absolute;
    top: 0;
    right: 0;
    text-transform: uppercase;
    cursor: pointer;
}
._footer button:hover {
    background-color: #f5bc53;
}
._footer label.fanpage {
    margin-bottom: 0;
    margin-top: 10px;
}
._footer .connect {
    display: flex;
    align-items: center;
    text-align: right;
    padding: 10px;
}
._footer .connect span {
    flex: 1;
}
._footer .contact p {
    line-height: 20px;
}
._footer .contact .icon {
    display: inline-flex;
    border: 1px solid #fff;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    margin-left: 5px;
}
._footer .icon i {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: cover;
    background-position: center;
}
._footer .logo-instagram {
    background-image: url("../images/logo-instagram.png");
}
._footer .logo-youtube {
    background-image: url("../images/logo-youtube.png");
}
._footer .copyright {
    padding-top: 20px;
    border-top: 1px solid #fff;
}
