i.icon-heart {
    background-image: url("../images/design/icon-heart.png");
}
i.icon-heart-checked {
    background-image: url("../images/design/icon-heart-checked.png");
}
i.icon-cart {
    background-image: url("../images/design/icon-cart.png");
}
i.icon-cart-gray {
    background-image: url("../images/design/icon-cart-gray.png");
}
i.icon-highlight-hot {
    background-image: url("../images/icons/highlight-hot.png");
}
i.icon-highlight-new {
    background-image: url("../images/icons/highlight-new.png");
}
i.icon-search-before {
    background-image: url("../images/design/icon-search-before.png");
}
i.icon-search-after {
    background-image: url("../images/design/icon-search-after.png");
}
i.icon-cart {
    background-image: url("../images/design/icon-cart.png");
}
i.icon-user {
    background-image: url("../images/design/icon-user.png");
}
i.icon-quality {
    background-image: url("../images/design/icon-quality.png");
}
i.icon-shipping {
    background-image: url("../images/design/icon-shipping.png");
}
i.icon-dola {
    background-image: url("../images/design/icon-dola.png");
}
i.icon-call {
    background-image: url("../images/icons/call.png");
}
i.icon-messenger-bg-white {
    background-image: url("../images/icons/messenger-bg-white.png");
}
i.icon-facebook {
    background-image: url("../images/icons/facebook.png");
}
i.icon-messenger-bg-blue {
    background-image: url("../images/icons/messenger-bg-blue.png");
}
i.icon-instagram {
    background-image: url("../images/icons/instagram.png");
}
i.icon-youtube {
    background-image: url("../images/icons/youtube.png");
}
i.icon-add {
    background-image: url("../images/icons/add.png");
}
i.icon-sub {
    background-image: url("../images/icons/sub.png");
}
