i.icon-heart {
    background-image: url("../images/icon-heart.png");
}
i.icon-cart {
    background-image: url("../images/icon-cart.png");
}
i.icon-highlight {
    background-image: url("../images/icon-highlight.png");
}
