._products {
    width: 70%;
    margin: auto;
}
._products .panel-heading {
    position: relative;
}
._products .panel-heading label.title {
    display: inline-block;
    font-weight: 600;
    font-size: 26px;
    margin-top: 30px;
    margin-bottom: 12px;
}
._products .panel-heading a.view-more {
    position: absolute;
    top: 40px;
    right: 0;
    color: #ef8f4a;
}
._products .panel-heading a.view-more:hover {
    color: #f5bc53;
}
.product-list .product-item {
    float: left;
    width: 30%;
    margin-left: 5%;
    padding: 15px 0 20px;
}
.product-list .product-item:nth-child(3n + 1) {
    margin-left: 0;
}
.product-list .image {
    position: relative;
    background-color: #ebebeb;
    border: 2px solid #ccc;
    border-radius: 15px;
}
.product-list .image>img {
    width: 100%;
    border-radius: 15px;
}
.product-list .image .img-2,
.product-list .image:hover .img-1 {
    display: none;
}
.product-list .image:hover .img-2 {
    display: block;
}
.product-list .image .icon {
    position: absolute;
}
.product-list .image .icon-cart-gray,
.product-list .image .icon-heart,
.product-list .image .icon-heart-checked {
    bottom: 10px;
}
.product-list .image .icon-cart-gray {
    width: 28px;
    left: calc(50% + 2px);
}
.product-list .image .icon-heart,
.product-list .image .icon-heart-checked {
    width: 25px;
    left: calc(50% - 28px);
}
.product-list .image .icon-heart-checked {
    width: 28px;
}
.product-list .image .icon-highlight-hot,
.product-list .image .icon-highlight-new {
    width: 50px;
    height: 50px;
    top: -15px;
    right: -15px;
}
.product-list .info {
    text-align: center;
    margin-top: 5px;
    font-weight: 600;
}
.product-list .info .name {
    font-size: 18px;
    line-height: 32px;
}
.product-list .info .real-price {
    color: #f00;
}
.product-list .info .promotion-price {
    margin-left: 5px;
    text-decoration: line-through;
}
